body {
    background-color: rgb(27, 27, 76);
}

.mainContainer {
    background-color: grey;
    height: 500px;
    width: 400px;
    border: 10px solid;
    border-color: black;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
}

.display {
    background-color: red;
    flex: 1;
    max-height: 100px;
    font-size: 80px;
    text-align: end;
}

.numbers {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}


.numbers > div {
    min-width: 78px;
    min-height: 78px;
    background-color: blueviolet;
    flex: 1; 
    /* margin: 2px; */
}

.lastElements > div {
    background-color: aquamarine;
}